<nav class='nav navbar bg-orange'>
  <% if user_signed_in? %>
  <%= link_to current_user.name, user_path(current_user), class:'navbar-brand text-white' %>
  <div>
    <%= link_to 'New Event', new_event_path, class:'btn btn-success' %>
    <%= link_to 'Sign Out', session_path(session), method: 'Delete', class:'btn btn-danger' %>
    <%= link_to 'All Events', events_path, class:'btn btn-outline-light' %>
  </div>
  <% else %>
  <%= link_to 'Home', root_path, class:'navbar-brand text-white' %>
  <div>
    <%= link_to 'Sign Up', new_user_path, class:'btn btn-outline-light' %>
    <%= link_to 'Sign In', new_session_path, class:'btn btn-outline-light' %>
    <%= link_to 'All Events', events_path, class:'btn btn-outline-light' %>
  </div>
  <% end %>
</nav>