<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class='nav navbar bg-orange'>
      <%= link_to 'Home', root_path, class:'navbar-brand text-white' %>
      <div>
        <% if session[:current_user_id].nil? %>
          <%= link_to 'Sign Up', new_user_path, class:'btn btn-outline-light' %>
          <%= link_to 'Sign In', new_user_path, class:'btn btn-outline-light' %>
        <% else %>
          <%= link_to 'New Event', new_event_path, class:'btn btn-success' %>
        <% end %>
      </div>
    </nav>
    <% if flash[:notice] %>
      <div class='alert alert-success'>
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class='alert alert-danger'>
        <%= flash[:error] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
